*{

  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}
body{
  font-family:'montseratt',sans-serif ;
}

.app{

  background-image:url( './assest/img/cloud.jpg');
  background-position:bottom ;
  background-size: cover;
  transition: 0.4 ease-out;
}
main{

  min-height:100vh;
  padding: 25px;
}
.app.warm{
  background-image: url('./assest/img/warm.jpg');

}

.search-box{
margin: 0 0 75px;
width: 100%;

}
.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;
  background: none;
  appearance: none;
  border: none;
  outline: none;

  background-color: rgb(255, 255, 255,0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  box-shadow: 0px 5px rgb(0, 0, 0,0.2) ;

  color: #313131;
  font-size: 20px;


  transition: 04s ease;
}
 .search-box .search-bar:focus{
   background-color: rgb(255, 255, 255,0.75);
 }